.content {
  grid-area: content;
  padding-top: 30px;
  padding-bottom: 60px;
  height: 100vh;
  overflow-y: auto;
}

/* linha do tempo */

.time-line-bg {
  max-width: 700px;
  margin: 0 auto;
  background: var(--cor-w);
  padding: 16px;
  border-radius: 15px;
  box-shadow: var(--sobra-1);
  margin-top: 26px;
  margin-bottom: 26px;
}

.time-line-bg:hover {
  box-shadow: none;
}

.time-line {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 4px 10px;
}

.time-line div input#texto {
  max-width: 496px;
}

.time-line div {
  grid-column: -2 / -1;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
}

.time-line div div a {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  transition: all 300ms ease;
}

.time-line div div a:hover {
  background: var(--cor-b1);
  border-radius: 10px;
}

.time-line div div a i {
  font-size: 16px;
  color: var(--cor-b5);
  height: 16px;
}

.time-line div div a p {
  font-weight: 500;
  text-transform: uppercase;
}

.time-line div a img {
  max-width: 16px;
}

/* Publicação */

.publicacao-bg {
  background: var(--cor-w);
  box-shadow: var(--sobra-3);
  max-width: 700px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 16px;
  margin-bottom: 26px;
  transition: all 300ms ease-in;
}

.publicacao-bg:hover {
  box-shadow: none;
}

.publicacao-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.perfil-publicacao {
  display: flex;
  align-items: center;
  gap: 8px;
}

.perfil-publicacao img {
  max-width: 40px;
}

.perfil-publicacao span {
  font-weight: 500;
  letter-spacing: 0;
}

.menu-publicacao {
  display: flex;
  gap: 4px;
}

.menu-publicacao a i {
  font-size: 20px;
  color: var(--cor-b8);
  height: 20px;
}

.foto-postada img {
  margin-top: 14px;
  max-width: 100%;
  max-height: 570px;
  object-fit: cover;
  border-radius: 15px;
}

.sep-publicacao {
  display: block;
  content: "";
  height: 1px;
  max-width: 100%;
  background-color: var(--cor-b1);
  margin: 6px;
}

.nav-publicacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
}

.nav-publicacao li a {
  display: flex;
  gap: 8px;
  align-items: center;
  transition: all 300ms ease-in-out;
}

.nav-publicacao li a h2 {
  font-size: 0.875rem;
  font-weight: 600;
}

/* Curti icone */
.nav-publicacao li a svg path {
  fill: var(--cor-b8);
  transition: all 300ms ease-in-out;
}

.nav-publicacao li a.btn-p-ative svg path {
  fill: url(#paint0_linear_41_5452);
  transition: all 300ms ease-in;
}

.nav-publicacao li a:hover svg path {
  fill: url(#paint0_linear_41_5452);
}

/* icone */
.nav-publicacao li a i {
  font-size: 20px;
  color: var(--cor-b8);
  height: 20px;
}
/* icone  */

.puplicacao-comentar {
  display: grid;
  gap: 8px;
  grid-template-columns: 30px 1fr 30px;
  margin-top: 16px;
}

.puplicacao-comentar button i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--cor-b4t);
  height: 16px;
}

@media (max-width: 1480px) {
  .pesquisa-bg {
    max-width: 579px;
  }
  .time-line-bg {
    max-width: 579px;
  }
  .publicacao-bg {
    max-width: 579px;
  }
  .foto-postada img {
    max-height: 332px;
  }
}

@media (max-width: 1200px) {
  .close {
    display: flex;
  }
  .content {
    padding: 30px;
  }
  .menu {
    display: flex;
  }
}

@media (max-width: 980px) {
  #pesquisa {
    height: 44px;
  }
  .pesquisa-cotainer {
    max-width: 500px;
    position: relative;
  }
  .time-line-bg {
    max-width: 500px;
  }
  .time-line div a p {
    display: none;
  }
  .publicacao-bg {
    max-width: 500px;
  }
}

@media (max-width: 800px) {
  .modo-noturno a:nth-child(3) {
    display: block;
    background: transparent;
  }
  .time-line-bg {
    margin-bottom: 0px;
  }
}

@media (max-width: 600px) {
  #pesquisa {
    height: 36px;
  }
  input#pesquisa {
    border-radius: 10px;
  }
  .content {
    padding: 16px 10px;
  }
  .menu {
    display: flex;
  }
  .time-line-bg {
    margin-top: 14px;
  }
  .time-line > img {
    max-width: 36px;
  }
  .time-line div div a {
    padding: 6px;
  }
  .publicacao-bg {
    margin-top: 0px;
  }
}

@media (max-width: 380px) {
  .modo-noturno a {
    max-width: 32px;
    max-height: 32px;
  }
  .menu {
    padding-right: 0px;
    margin-right: 8px;
  }
  .menu a {
    padding: 6px;
    max-width: 32px;
    max-height: 32px;
  }
  .modo-noturno {
    padding-left: 0px;
    margin-left: 8px;
  }
  .modo-noturno a {
    padding: 6px;
  }
}

@media (max-width: 330px) {
  .time-line div {
    grid-column: -3 / -1;
  }
  .time-line {
    gap: 4px;
  }
  .pesquisa-cotainer {
    justify-content: space-between;
  }
  #pesquisa {
    display: none;
  }
  .nav-publicacao li a > h2 {
    display: none;
  }
  .nav-publicacao {
    justify-content: space-evenly;
  }
}
