@media (prefers-color-scheme: light) {
  :root {
    /* Cores geral */
    --cor-b0: #f7f9ff;
    --cor-b1: #d9e2f7;
    --cor-b2: #b7c9ef;
    --cor-b3: #98b1e7;
    --cor-b4: #7596dc;
    --cor-b5: #5b86e5;
    --cor-b6: #225fe5;
    --cor-b7: #1d4fbf;
    --cor-b8: #03163f;
    --cor-c1: #f7feff;
    --cor-c2: #d9f5f7;
    --cor-c3: #b7ebef;
    --cor-c4: #98e1e7;
    --cor-c5: #75d5dc;
    --cor-c6: #36d1dc;
    --cor-c7: #3abcc6;
    --cor-c8: #149aa4;
    --cor-c8t: #149aa4;
    --cor-w: #ffffff;
    --cor-b4t: #f7f9ff;
    --cor-alerta: #c63a3a;
    /* Gradientes */
    --cor-gradiente: linear-gradient(127deg, #36d1dc -19.65%, #5b86e5 131.71%);
    /* Sobras light */
    --sobra-1: 0px -2px 5px rgba(183, 201, 239, 0.25),
      0px 4px 8px rgba(183, 201, 239, 0.3),
      0px 10px 20px rgba(183, 201, 239, 0.3);
    --sobra-1-verde: 0px -2px 5px rgba(217, 245, 246, 0.25),
      0px 4px 8px rgba(217, 245, 246, 0.3),
      0px 10px 20px rgba(217, 245, 246, 0.3);
    --sobra-1-blue: 0px -2px 5px rgba(91, 134, 229, 0.25),
      0px 4px 8px rgba(91, 134, 229, 0.3), 2px 10px 20px rgba(91, 134, 229, 0.3);
    --sobra-2-blue: 0px -2px 5px rgba(91, 134, 229, 0.3),
      0px 4px 8px rgba(91, 134, 229, 0.45),
      0px 10px 20px rgba(91, 134, 229, 0.45);
    --sobra-3: 0px -2px 5px rgba(183, 201, 239, 0.25),
      0px 4px 8px rgba(183, 201, 239, 0.4),
      0px 10px 20px rgba(183, 201, 239, 0.5);
    --blur: rgba(255, 255, 255, 0.25);
  }

  .light-logo {
    display: block;
  }
  .dark-logo {
    display: none;
  }
  input#pesquisa::placeholder {
    background: url("../img/pesquisa.svg") no-repeat left;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --cor-gradiente: linear-gradient(97.27deg, #35383d 0%, #454d5b 100%);
    --sobra-3: 0px -2px 5px rgba(0, 0, 0, 0.3), 0px 4px 8px rgba(0, 0, 0, 0.4),
      2px 10px 20px rgba(0, 0, 0, 0.5);
    --cor-b0: #1a1b1c;
    --cor-b1: #252627;
    --cor-b2: #464d5c;
    --cor-b3: #35383d;
    --cor-b8: #d9e2f6;
    --cor-b4: #35383d;
    --cor-b5: #464d5c;
    --cor-b4t: #b7c9ef;
    --cor-w: #212122;
    --cor-c1: #1a1b1c;
    --cor-c2: #252627;
    --cor-c7: #3abcc6;
    --cor-c8: #35383d;
    --cor-c8t: #b7c9ef;
    --cor-alerta: #c63a3a;
    --sobra-1: 0px -2px 5px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0.3),
      2px 10px 20px rgba(0, 0, 0, 0.3);
    --sobra-2-blue: 0px -2px 5px rgba(0, 0, 0, 0.25),
      0px 4px 8px rgba(0, 0, 0, 0.3), 2px 10px 20px rgba(0, 0, 0, 0.3);
    --blur: rgba(0, 0, 0, 0.25);
  }
  .light-logo {
    display: none;
  }
  .dark-logo {
    display: block;
  }
  .bg-nav nav ul li a:hover {
    box-shadow: var(--sobra-1);
  }
  input#pesquisa::placeholder {
    background: url("../img/pesquisa-dark.svg") no-repeat left;
  }
}
/* LightMode Btn */
.light {
  --cor-b0: #f7f9ff;
  --cor-b1: #d9e2f7;
  --cor-b2: #b7c9ef;
  --cor-b3: #98b1e7;
  --cor-b4: #7596dc;
  --cor-b5: #5b86e5;
  --cor-b6: #225fe5;
  --cor-b7: #1d4fbf;
  --cor-b8: #03163f;
  --cor-c1: #f7feff;
  --cor-c2: #d9f5f7;
  --cor-c3: #b7ebef;
  --cor-c4: #98e1e7;
  --cor-c5: #75d5dc;
  --cor-c6: #36d1dc;
  --cor-c7: #3abcc6;
  --cor-c8: #149aa4;
  --cor-c8t: #149aa4;
  --cor-w: #ffffff;
  --cor-b4t: #f7f9ff;
  --cor-alerta: #c63a3a;
  /* Gradientes */
  --cor-gradiente: linear-gradient(127deg, #36d1dc -19.65%, #5b86e5 131.71%);
  /* Sobras light */
  --sobra-1: 0px -2px 5px rgba(183, 201, 239, 0.25),
    0px 4px 8px rgba(183, 201, 239, 0.3), 0px 10px 20px rgba(183, 201, 239, 0.3);
  --sobra-1-verde: 0px -2px 5px rgba(217, 245, 246, 0.25),
    0px 4px 8px rgba(217, 245, 246, 0.3), 0px 10px 20px rgba(217, 245, 246, 0.3);
  --sobra-1-blue: 0px -2px 5px rgba(91, 134, 229, 0.25),
    0px 4px 8px rgba(91, 134, 229, 0.3), 2px 10px 20px rgba(91, 134, 229, 0.3);
  --sobra-2-blue: 0px -2px 5px rgba(91, 134, 229, 0.3),
    0px 4px 8px rgba(91, 134, 229, 0.45), 0px 10px 20px rgba(91, 134, 229, 0.45);
  --sobra-3: 0px -2px 5px rgba(183, 201, 239, 0.25),
    0px 4px 8px rgba(183, 201, 239, 0.4), 0px 10px 20px rgba(183, 201, 239, 0.5);
  --blur: rgba(255, 255, 255, 0.25);
}
.body.light .light-logo {
  display: block;
}
.body.light .dark-logo {
  display: none;
}
.body.light input#pesquisa::placeholder {
  background: url("../img/pesquisa.svg") no-repeat left;
}

/* DarkMode Btn */
.dark {
  --cor-gradiente: linear-gradient(97.27deg, #35383d 0%, #454d5b 100%);
  --sobra-3: 0px -2px 5px rgba(0, 0, 0, 0.3), 0px 4px 8px rgba(0, 0, 0, 0.4),
    2px 10px 20px rgba(0, 0, 0, 0.5);
  --cor-b0: #1a1b1c;
  --cor-b1: #252627;
  --cor-b2: #464d5c;
  --cor-b3: #35383d;
  --cor-b8: #d9e2f6;
  --cor-b4: #35383d;
  --cor-b5: #464d5c;
  --cor-b4t: #b7c9ef;
  --cor-w: #212122;
  --cor-c1: #1a1b1c;
  --cor-c2: #252627;
  --cor-c4: #212122;
  --cor-c5: #464d5c;
  --cor-c7: #3abcc6;
  --cor-c8: #35383d;
  --cor-c8t: #b7c9ef;
  --cor-alerta: #c63a3a;
  --sobra-1: 0px -2px 5px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0.3),
    2px 10px 20px rgba(0, 0, 0, 0.3);
  --sobra-2-blue: 0px -2px 5px rgba(0, 0, 0, 0.25),
    0px 4px 8px rgba(0, 0, 0, 0.3), 2px 10px 20px rgba(0, 0, 0, 0.3);
  --blur: rgba(0, 0, 0, 0.25);
}
.body.dark .light-logo {
  display: none;
}
.body.dark .dark-logo {
  display: block;
}
.body.dark .bg-nav nav ul li a:hover {
  box-shadow: var(--sobra-1);
}
.body.dark input#pesquisa::placeholder {
  background: url("../img/pesquisa-dark.svg") no-repeat left;
}

.b0 {
  color: var(--cor-b0);
}
.b1 {
  color: var(--cor-b1);
}
.b2 {
  color: var(--cor-b2);
}
.b3 {
  color: var(--cor-b3);
}
.b4 {
  color: var(--cor-b4);
}
.b5 {
  color: var(--cor-b5);
}
.b6 {
  color: var(--cor-b6);
}
.b7 {
  color: var(--cor-b7);
}
.b8 {
  color: var(--cor-b8);
}
.c1 {
  color: var(--cor-c1);
}
.c2 {
  color: var(--cor-c2);
}
.c3 {
  color: var(--cor-c3);
}
.c4 {
  color: var(--cor-c4);
}
.c5 {
  color: var(--cor-c5);
}
.c6 {
  color: var(--cor-c6);
}
.c7 {
  color: var(--cor-c7);
}
.c8 {
  color: var(--cor-c8);
}

* {
  margin: 0;
  padding: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  background: var(--cor-b0);
  user-select: none;
  overflow-x: hidden;
}

a {
  display: block;
  color: var(--cor-c5);
}

img {
  display: block;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 17.25rem auto 22.625rem;
  grid-template-areas:
    "sidenav content barra"
    "sidenav content barra"
    "sidenav content barra"
    "sidenav content barra";
}

.btn {
  background: var(--cor-gradiente);
  color: var(--cor-b0);
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  box-shadow: var(--sobra-2-blue);
}

.btn-postar {
  text-transform: uppercase;
  background: var(--cor-gradiente);
  color: var(--cor-b4t);
  padding: 7px 13px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.btn-postar:hover {
  box-shadow: var(--sobra-2-blue);
}

input#texto {
  padding-left: 16px;
  background: transparent;
  border: 1px solid var(--cor-b5);
  max-width: 579px;
  border-radius: 10px;
  transition: all 300ms ease;
}

input#texto:focus {
  background: var(--cor-w);
  outline: 1px solid var(--cor-b2);
  color: var(--cor-b4);
  box-shadow: var(--sobra-1);
}

input::placeholder {
  font-size: 14px;
  color: var(--cor-b4);
  font-family: "Montserrat", sans-serif;
}

.perfil {
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 7.25rem auto 17.5rem;
  }
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "content"
      "content"
      "content"
      "content";
  }
  input::placeholder {
    font-size: 12px;
  }
}

@media (max-width: 330px) {
  input#texto {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
