.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--cor-w);
  overflow-y: auto;
  position: fixed;
  left: -100%;
  z-index: 4;
  animation: aniMenu 400ms ease forwards;
}

@keyframes aniMenu {
  to {
    left: 0;
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.close {
  display: none;
}

.logo {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

.logo img {
  max-width: 2.5rem;
}

.bg-nav {
  display: flex;
  flex-direction: column;
  background: var(--cor-c1);
  box-shadow: var(--sobra-3);
  border-radius: 15px;
  padding: 14px 12px;
  margin: 20px;
  justify-content: space-between;
  height: 100%;
  position: relative;
  overflow-y: auto;
  animation: all 400ms ease-in-out;
}

.bg-nav nav ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px;
  margin-bottom: 6px;
  position: relative;
  transition: all 300ms ease;
}

.bg-nav nav ul li a:hover {
  background: var(--cor-c2);
  border-radius: 5px;
  padding-left: 12px;
}

.bg-nav nav ul li a i {
  font-size: 24px;
  color: var(--cor-c8);
  height: 24px;
}

.active-sidenav {
  background: var(--cor-c2);
  border-radius: 5px;
  padding-left: 12px;
}
.active-sidenav h2 {
  color: var(--cor-c8t);
}
.bg-nav nav ul li a.active-sidenav i {
  color: var(--cor-c8t);
}

.bg-nav nav ul li a img {
  max-width: 24px;
}

.sep-nav {
  content: "";
  display: block;
  margin: 1.125rem 0.625rem;
  height: 1px;
  background: var(--cor-c2);
  justify-self: center;
}

.perfil-sidenav {
  display: flex;
  flex-direction: column;
}

.perfil-sidenav img {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
}

.perfil-sidenav h3 {
  flex: 1;
}

.perfil-sidenav h2 {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.perfil-sidenav a {
  padding: 4px;
  height: 24px;
}

.perfil-sidenav a i {
  font-size: 16px;
  color: var(--cor-c7);
  height: 16px;
}

.bg-perfilnav {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 10px;
  background: var(--cor-c2);
  border-radius: 15px;
}

.notificação {
  text-align: center;
  padding: 1px 5px;
  color: var(--cor-w);
  border-radius: 50%;
  background: var(--cor-alerta);
}

@media (max-width: 1200px) {
  @keyframes opc {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0.05;
    }
    10% {
      opacity: 0.08;
    }
    15% {
      opacity: 0.1;
    }
    20% {
      opacity: 0.2;
    }
    30% {
      opacity: 0.3;
    }
    40% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.5;
    }
    60% {
      opacity: 0.6;
    }
    70% {
      opacity: 0.7;
    }
    80% {
      opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }
  .notificação {
    position: absolute;
    top: 0;
    right: 2px;
  }
}

@media (max-width: 600px) {
  .sidenav {
    display: none;
  }
  .bg-nav {
    align-items: initial;
    padding: 16px 20px;
  }

  .bg-nav nav ul li a:hover {
    padding-left: 12px;
  }
  .logo p {
    display: block;
  }
  .top {
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 0px;
  }
  .bg-nav nav ul li a h2 {
    display: block;
  }
  .perfil-sidenav h2 {
    display: none;
  }
  .perfil-sidenav h3 {
    display: block;
  }
  .perfil-sidenav p {
    display: block;
  }
  .bg-perfilnav {
    display: none;
  }

  .notificação {
    position: absolute;
    top: 0;
    right: 2px;
  }
}
