#short .content {
  padding-left: 60px;
  padding-right: 60px;
}

#short .publicacao-bg {
  margin: 26px auto;
  max-width: 1000px;
}

.short-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.short-top a {
  color: var(--cor-b5);
  transition: all 300ms ease-in;
}

.short-top a:after {
  content: "";
  display: block;
  background: transparent;
  width: 52px;
  height: 1px;
  transition: all 200ms ease-in;
}

.short-top a:hover::after {
  background: var(--cor-b5);
}

.short-img {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 18px;
}

.short-img img {
  width: 180px;
  border-radius: 15px;
}

.short-img a {
  display: flex;
  position: relative;
  justify-content: center;
}

.info-short {
  display: flex;
  justify-content: space-between;
  background: var(--blur);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  padding: 4px;
  border-radius: 10px;
  position: absolute;
  bottom: 8px;
  width: 170px;
}

.info-imgs-short {
  display: flex;
  position: relative;
  align-items: center;
}

.info-imgs-short img {
  max-width: 26px;
  object-fit: cover;
  position: absolute;
}

.info-imgs-short img:nth-child(2) {
  left: 12px;
}
.info-imgs-short img:nth-child(3) {
  left: 24px;
}

.info-span-short {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.info-span-short span {
  text-align: right;
}
.info-span-short span {
  text-transform: uppercase;
}
.info-span-short span:nth-child(2) {
  font-weight: 400;
}

.short-favorito {
  padding-top: 26px;
  padding-bottom: 18px;
}

@media (max-width: 1100px) {
  .short-img img {
    width: 160px;
  }
  .info-short {
    width: 150px;
  }
}

@media (max-width: 1300px) {
  #short .content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 980px) {
  #short .pesquisa-cotainer {
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  #short .short-top {
    padding: 8px;
  }
  #short .content {
    padding-left: 20px;
    padding-right: 20px;
  }
  #short .publicacao-bg {
    max-width: 100%;
    padding: 8px;
  }
  #short .story-mobile {
    max-width: 100%;
    margin: 0 auto;
  }
  .short-img img {
    width: 140px;
  }
  .info-short {
    width: 130px;
  }
}

@media (max-width: 480px) {
  #short .publicacao-bg {
    margin: 16px auto;
  }
  #short .short-favorito {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #short .short-top {
    padding: 8px;
  }
  #short .content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
