@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");

.navigation {
  display: none;
}
.list a {
  display: none;
}

@media (max-width: 600px) {
  .list a {
    display: block;
  }
  .container-nav-mobile {
    grid-area: content;
    padding-top: 20px;
    padding-bottom: 10px;
    grid-row: 4;
    justify-self: center;
    bottom: -4px;
    position: fixed;
    z-index: 2;
  }

  .navigation {
    margin: 0 auto;
    width: 360px;
    height: 64px;
    background: var(--cor-c1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
    box-shadow: var(--sobra-3);
  }
  .navigation ul {
    display: flex;
    width: 330px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
  }
  .navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 700;
  }

  .navigation ul li a .icon {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 76px;
    font-size: 1.875em;
    text-align: center;
    transition: 0.5s;
    color: var(--cor-c8);
  }
  .navigation ul li.active a .icon {
    color: var(--cor-b8);
  }

  .navigation ul li.active a .icon {
    transform: translateY(-35px);
  }

  .navigation ul li a .text {
    position: absolute;
    color: var(--cor-b8);
    font-weight: 600;
    font-size: 0.875rem;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
  }

  .navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
  }

  .indicator {
    position: absolute;
    top: 10px;
    left: 8px;
    width: 50px;
    height: 50px;
    background: var(--cor-c4);
    border-radius: 50%;
    border: 6px solid var(--cor-c4);
    z-index: -1;
    transition: all 300ms ease-in-out;
    transform: translateY(0px);
  }

  .navigation ul li.active .indicator {
    position: absolute;
    transform: translateY(-43px);
    left: 0;
    width: 65px;
    height: 65px;
    background: var(--cor-gradiente);
    border-radius: 50%;
    border: 6px solid var(--cor-c1);
    z-index: -1;
  }

  .navigation ul li.active .indicator::before {
    content: "";
    position: absolute;
    bottom: 22px;
    right: -12px;
    width: 6px;
    height: 10px;
    background: transparent;
    border-bottom-left-radius: 19px;
    box-shadow: -1px 3px 0 0 var(--cor-c1);
  }

  .navigation ul li.active .indicator::after {
    content: "";
    position: absolute;
    bottom: 22px;
    left: -12px;
    width: 6px;
    height: 10px;
    background: transparent;
    border-bottom-right-radius: 19px;
    box-shadow: 1px 3px 0 0 var(--cor-c1);
  }
}
@media (max-width: 380px) {
  .navigation {
    width: 300px;
    height: 54px;
  }
  .navigation ul {
    width: 260px;
  }
  .navigation ul li {
    width: 54px;
    height: 54px;
  }
  .indicator {
    width: 44px;
    height: 44px;
    top: 5px;
    left: 4px;
    border: 4px solid var(--cor-c4);
  }
  .navigation ul li a .icon {
    line-height: 60px;
  }
  .navigation ul li.active a .icon {
    transform: translateY(-25px);
  }
  .navigation ul li.active .indicator {
    border: 4px solid var(--cor-c1);
    transform: translateY(-29px);
    width: 51px;
    height: 51px;
  }
  .navigation ul li.active .indicator::before {
    right: -8px;
    bottom: 23px;
  }
  .navigation ul li.active .indicator::after {
    left: -8px;
    bottom: 23px;
  }
}
