video {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.container.ativo#live {
  display: grid;
  grid-template-columns: 17.25rem auto 22.625rem 5rem;
  grid-template-areas:
    "sidenav content barra canal"
    "sidenav content barra canal"
    "sidenav content barra canal"
    "sidenav content barra canal";
}

.container.resize#live {
  display: grid;
  grid-template-columns: auto auto auto 5rem;
  grid-template-areas:
    " content barra canal"
    " content barra canal"
    " content barra canal"
    " content barra canal";
}

.container#live {
  display: grid;
  grid-template-columns: 17.25rem auto 5rem;
  grid-template-areas:
    "sidenav content canal"
    "sidenav content canal"
    "sidenav content canal"
    "sidenav content canal";
}

/* resize sidenav */
.container.resize#live .sidenav {
  display: none;
}

/* resiz chat */
.container.resize#live .chat {
  display: none;
}

#live .barra-lateral {
  right: 0;
  top: 0;
  max-width: 22.625rem;
  position: absolute;
  overflow-y: auto;
  z-index: 2;
}

#live .content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#live .publicacao-bg {
  padding: 0px;
  margin: 10px auto;
  max-width: 100%;
}

#live .publicacao-bg:hover {
  box-shadow: var(--sobra-3);
}

.container-live {
  display: flex;
  flex-direction: column;
}

.live-on {
  margin: 16px;
  display: flex;
  flex-direction: column;
  background: var(--cor-b0);
  box-shadow: var(--sobra-1);
  border-radius: 15px;
  transition: all 300ms ease;
}

.live {
  position: relative;
}

.live:hover .player-live {
  opacity: 1;
}

.live img {
  border-radius: 10px 10px 0 0;
}

/* menu */
.menu.btn-menu-live {
  position: absolute;
  display: flex;
  border-radius: 50%;
  padding: 8px;
  background: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  top: 10px;
  left: 10px;
  cursor: pointer;
  transition: all 300ms ease;
  z-index: 1;
}

.menu.btn-menu-live:hover {
  border-radius: 10px;
  transform: scale(1.1);
  background: var(--blur);
}

.pesquisa-live-interna {
  position: absolute;
  top: 10px;
  left: 60px;
  max-height: 40px;
}
.menu.btn-menu-live i {
  color: var(--cor-w-2);
  opacity: 0.7;
  width: 20px;
  height: 20px;
}

/* redimencionar */
.redimencionar {
  position: absolute;
  display: flex;
  border-radius: 50%;
  padding: 8px;
  background: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  top: 58px;
  right: 10px;
  cursor: pointer;
  transition: all 300ms ease;
  z-index: 1;
}

.redimencionar:hover {
  border-radius: 10px;
  transform: scale(1.1);
  background: var(--blur);
}

.redimencionar i {
  color: var(--cor-w-2);
  opacity: 0.7;
  width: 20px;
  height: 20px;
}

.redimencionar:hover::before {
  content: "Redimencionar";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 12px;
  width: 100px;
  top: 30%;
  right: 50px;
  color: var(--cor-b8);
  border-radius: 5px;
  opacity: 0.5;
  background: var(--cor-b0);
  animation: delay 1.1s forwards;
}

/* btn chat live */
.btn-live {
  position: absolute;
  display: none;
  border-radius: 50%;
  padding: 8px;
  background: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: all 300ms ease;
  z-index: 1;
}

.btn-live:hover {
  border-radius: 10px;
  transform: scale(1.1);
  background: var(--blur);
}

.btn-live:hover::before {
  content: "Abrir Chat";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 12px;
  width: 70px;
  top: 30%;
  right: 50px;
  color: var(--cor-b8);
  border-radius: 5px;
  opacity: 0.5;
  background: var(--cor-b0);
  animation: delay 1.1s forwards;
}

.btn-live i {
  color: var(--cor-w-2);
  opacity: 0.7;
  width: 20px;
  height: 20px;
}

.live i {
  font-size: 20px;
}

/* delay right*/
@keyframes delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateX(50%);
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Minha Play 'Desativado' */
.player-live {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  gap: 8px;
  background: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  position: absolute;
  min-width: 100%;
  bottom: 4px;
  opacity: 0;
  transition: all 300ms ease;
}

.player-live:hover {
  background: var(--blur);
  opacity: 1;
}

.play-pause-volume,
.config-redimencionar-expandir {
  display: flex;
  align-items: center;
  gap: 8px;
}

.player-live span {
  display: flex;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 300ms ease;
  background: transparent;
}

.player-live span:hover {
  border-radius: 15px;
  transform: scale(1.1);
  backdrop-filter: blur(7px);
}

.player-live span i {
  color: var(--cor-w-2);
  opacity: 0.7;
  height: 20px;
  width: 20px;
}

/* Infor live */
.infor-live {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.perfil-live {
  display: flex;
  gap: 8px;
}

.perfil-ao-vivo {
  background: var(--cor-gradiente-live);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 3px;
  box-shadow: var(--sobra-1-vermelho);
  max-width: 60px;
  max-height: 60px;
}

.perfil-ao-vivo span {
  background: var(--cor-gradiente-live);
  padding: 2px 8px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: var(--cor-w-2);
  font-size: 0.85rem;
  border-radius: 5px;
  position: absolute;
  bottom: -10px;
  box-shadow: var(--sobra-1-vermelho);
}

.perfil-info-live {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hashtags-live {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.hashtags-live span {
  background: var(--cor-b1);
  padding: 2px 6px;
  border-radius: 5px;
}

.inscricao {
  display: flex;
  flex-direction: column;
}

.btn-inscrever-se {
  display: flex;
  gap: 8px;
  padding-bottom: 8px;
}

.btn-inscrever-se button {
  text-transform: uppercase;
  padding: 8px 16px;
  color: var(--cor-w-2);
  background: var(--cor-gradiente);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: all 300ms ease;
}

.btn-inscrever-se button:hover {
  transform: scale(1.1);
  box-shadow: var(--sobra-2-blue);
}

.btn-inscrever-se button:last-child:hover {
  transform: scale(1.1);
  box-shadow: var(--sobra-1);
}

.btn-inscrever-se button:last-child {
  color: var(--cor-b0);
  background: var(--cor-b8-2);
}

.pessoas-vendo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.pessoas-vendo span:nth-child(1n + 2) {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 4px;
  width: 36px;
  height: 36px;

  border-radius: 50%;
  transition: all 300ms ease;
}
.pessoas-vendo span:nth-child(1n + 3) {
  cursor: pointer;
}
.pessoas-vendo span:nth-child(1n + 3):hover {
  border-radius: 10px;
  transform: scale(1.1);
  background: var(--cor-b1);
}

.pessoas-vendo i {
  font-size: 16px;
  width: 16px;
  height: 16px;
}

/* sobre perfil */
.sobre-perfil {
  padding: 16px;
  max-height: 15vh;
  overflow: hidden;
  position: relative;
}

.live-on.expan .sobre-perfil {
  max-height: 100%;
}

.sobre-perfil::before {
  display: block;
  content: "";
  height: 1px;
  max-width: 100%;
  background: var(--cor-b1);
  position: relative;
  top: -10px;
}

.sobre-perfil::after {
  display: block;
  content: "";
  height: 1px;
  left: 0;
  width: 100%;
  background: var(--cor-b1);
  position: absolute;
  bottom: 0px;
}

.sobre-perfil h2 {
  padding-bottom: 8px;
}

.sobre-perfil p {
  padding-left: 8px;
  max-width: 60ch;
  padding-bottom: 16px;
}

@keyframes loop-btn {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.btn-texto-expandir {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  align-self: center;
  margin-top: 8px;
  margin-bottom: 8px;
  transition: all 300ms ease;
  animation: loop-btn 500ms alternate infinite;
  cursor: pointer;
}

.btn-texto-expandir:hover {
  border-radius: 10px;
  background: var(--cor-b1);
}

.btn-texto-expandir i {
  color: var(--cor-b8);
  font-size: 16px;
  width: 16px;
  height: 16px;
}

.live-on.expan .btn-texto-expandir i {
  transform: rotate(180deg);
}

/* live recomendada */
.live-recomendado h2 {
  padding-left: 16px;
}

.container-recomendado-live ul {
  display: flex;
  overflow-x: auto;
  gap: 8px;
  padding: 16px;
}

.container-recomendado-live a {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.container-recomendado-live a:hover img {
  transform: scale(1.1);
}

.container-recomendado-live a img {
  max-width: 180px;
  /* border-radius: 15px; */
  object-fit: cover;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  transition: all 500ms ease;
}

.container-recomendado-live a div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cor-gradiente-live);
  padding: 3px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50px;
  box-shadow: var(--sobra-1-vermelho);
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.container-recomendado-live a div img {
  max-width: 38px;
  max-height: 38px;
  position: relative;
}

/* Barra lateral */
.chat {
  display: flex;
  flex-direction: column;
  grid-area: barra;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 22.625rem;
  height: 100vh;
  margin-right: 5rem;
  background: var(--cor-w);
  box-shadow: var(--sobra-3);
  z-index: 2;
}
.chat-btn-titulo {
  position: relative;
  padding: 16px;
}

.chat-btn-titulo span {
  position: absolute;
  display: flex;
  border-radius: 50%;
  padding: 8px;
  background: var(--cor-b0);
  border: 2px solid var(--cor-b5);
  top: 8px;
  left: 16px;
  cursor: pointer;
  transition: all 300ms ease;
}

.chat-btn-titulo span:hover {
  border-radius: 10px;
  transform: scale(1.1);
}

.chat-btn-titulo span i {
  font-size: 20px;
  color: var(--cor-b5);
  width: 20px;
  height: 20px;
}

.chat-btn-titulo h2 {
  color: var(--cor-b5);
  text-transform: uppercase;
  padding-left: 56px;
}

.chat-aovivo {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 8px;
  border-radius: 15px;
  background: var(--cor-b0);
  border: 4px solid var(--cor-b1);
  overflow-y: auto;
  max-height: 92vh;
  grid-area: canal;
}

.chat-view li {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nome-chat {
  font-weight: 700;
}

.nome-chat span {
  padding-left: 4px;
  font-weight: 400;
}

.chat-campo-texto {
  position: sticky;
  bottom: 0;
}

#live .input-container {
  margin: 0;
  padding: 6px;
}

/* canal recomendado */
.canal-recomendado {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  background: var(--cor-w);
  height: 100vh;
  box-shadow: var(--sobra-3);
  padding-top: 25px;
  z-index: 2;
}
.canais {
  position: relative;
  padding: 16px;
}

.canais h2 {
  text-transform: uppercase;
  padding-left: 56px;
}

.canais span {
  position: absolute;
  display: flex;
  border-radius: 50%;
  padding: 8px;
  background: var(--cor-b0);
  border: 2px solid var(--cor-b5);
  top: 8px;
  left: 16px;
  cursor: pointer;
  transition: all 300ms ease;
}

.canais span:hover {
  border-radius: 10px;
  transform: scale(1.1);
}

.canais span i {
  font-size: 20px;
  color: var(--cor-b5);
  width: 20px;
  height: 20px;
}

.canais-aovivo {
  padding: 16px;
}

.canais-aovivo ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.canais-aovivo a {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  color: var(--cor-b8);
  background: var(--cor-b0);
  border-radius: 50px;
  font-weight: 600;
  transition: all 300ms ease;
}

.canais-aovivo a:hover {
  color: var(--cor-w);
  background: var(--cor-gradiente-live);
  transform: translateX(-8px);
}

.canais-aovivo a:hover p::after {
  content: "ao vivo";
  display: inline-block;
  background: var(--cor-b0);
  height: 14px;
  color: var(--cor-b8);
  padding: 2px 6px;
  margin-left: 8px;
  border-radius: 10px;
  font-size: 0.75rem;
}

.canais-aovivo a p {
  display: flex;
  align-items: center;
}

.canal-on {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40px;
  max-height: 40px;
  background: var(--cor-gradiente-live);
  padding: 3px;
  border-radius: 50%;
}

.canal-recomendado.ativo .canais h2,
.canal-recomendado.ativo .canais-aovivo p {
  display: none;
}
.canal-recomendado.ativo .canais {
  padding: 24px;
}

.canal-recomendado.ativo .canais span i {
  transform: rotate(180deg);
  color: var(--cor-b2);
}

.canal-recomendado.ativo .canais span {
  background: var(--cor-w);
  border: 2px solid var(--cor-b2);
}

@media (max-width: 1200px) {
  #live .sidenav {
    display: none;
  }
  .container.ativo#live {
    display: grid;
    grid-template-columns: auto auto 5rem;
    grid-template-areas:
      "content barra canal"
      "content barra canal"
      "content barra canal"
      "content barra canal";
  }
  .container#live {
    display: grid;
    grid-template-columns: auto 5rem;
    grid-template-areas:
      "content canal"
      "content canal"
      "content canal"
      "content canal";
  }
  .chat {
    display: none;
  }
  .btn-live {
    display: flex;
  }
}

@media (max-width: 980px) {
  .infor-live {
    display: flex;
    align-items: stretch;
    gap: 16px;
    justify-content: space-between;
    padding: 16px;
    flex-direction: column;
  }
  .perfil-live {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
  }
  .inscricao {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .btn-inscrever-se {
    justify-content: space-around;
  }
}

@media (max-width: 800px) {
  #live .content {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #live .publicacao-bg {
    max-width: 100%;
    margin: 0px 0px;
    border-radius: 0px;
    padding-bottom: 90px;
  }
  .btn-inscrever-se {
    justify-content: flex-start;
  }
  .live-on {
    margin: 0;
    border-radius: 0px;
  }
  .live-recomendado {
    padding-top: 26px;
  }
  .live img {
    border-radius: 0;
  }
  video {
    border-radius: 0;
  }
}

@media (max-width: 600px) {
  #live .close {
    position: absolute;
    right: 20px;
    z-index: 4;
  }
  .container.resize#live {
    grid-template-columns: 1fr;
    grid-template-areas:
      "content"
      "content"
      "content"
      "content";
  }
  .container.ativo#live {
    grid-template-columns: 1fr;
    grid-template-areas:
      "content"
      "content"
      "content"
      "content";
  }
  .container#live {
    grid-template-columns: 1fr;
    grid-template-areas:
      "content"
      "content"
      "content"
      "content";
  }
  .container-recomendado-live a div {
    padding: 2px;
  }
  .canal-recomendado {
    display: none;
  }
  .chat {
    top: 40vh;
    width: 100vw;
    height: 60vh;
    z-index: 2;
    max-width: 100%;
    margin-right: 0;
  }
  .sobre-perfil {
    max-height: 8vh;
  }
}

@media (max-width: 480px) {
  .perfil-ao-vivo {
    max-width: 40px;
    max-height: 40px;
    padding: 2px;
  }
  .perfil-ao-vivo span {
    font-size: 0.6rem;
    padding: 2px 4px;
  }
  .perfil-info-live h2 {
    font-size: 1rem;
  }
  .perfil-info-live p {
    font-size: 0.75rem;
  }
  .hashtags-live span {
    font-size: 0.6rem;
    padding: 2px 4px;
  }
  .inscricao {
    flex-direction: row;
  }
  .btn-inscrever-se {
    padding-bottom: 0px;
    align-items: center;
  }
  .btn-inscrever-se button {
    padding: 4px 8px;
    font-size: 0.75rem;
    border-radius: 5px;
  }
  .pessoas-vendo {
    flex-direction: row;
  }
  .pessoas-vendo span:nth-child(1n + 2) {
    padding: 4px;
    width: 26px;
    height: 26px;
  }
  .infor-live {
    flex-direction: column;
    padding: 8px;
  }
  .sobre-perfil {
    padding: 10px;
  }
  .player-live {
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
  }
  .player-live span i {
    font-size: 16px;
    width: 16px;
    height: 16px;
  }
  .play-pause-volume .volume {
    display: none;
  }
  .config-redimencionar-expandir .redimencionar {
    display: none;
  }
  .search-box:hover > .search-input,
  .search-input:focus {
    max-width: 100px;
  }
  .btn-texto-expandir {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .btn-texto-expandir:hover {
    background: transparent;
  }
  .live-recomendado {
    padding-top: 16px;
  }
  .live-recomendado h2 {
    padding-left: 8px;
  }
}
