.barra-lateral {
  grid-area: barra;
  display: flex;
  flex-direction: column;
  background: var(--cor-w);
  height: 100vh;
  position: relative;
  overflow-y: auto;
}

.storys {
  margin-top: 30px;
}

.storys h2 {
  text-transform: uppercase;
  padding: 0 26px;
}

.storys-lista {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 16px 0px 26px 16px;
  gap: 8px;
}

.storys-lista li a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--cor-gradiente);
  box-shadow: var(--sobra-2-blue);
  width: 50px;
  transition: all 300ms ease-in;
}

.storys-lista li a:hover {
  box-shadow: none;
}

.storys-lista li a img {
  padding: 3px;
  max-width: 60px;
}

/* Publicação rencente */

.publicacao-recente h2 {
  text-transform: uppercase;
  padding: 0 26px;
}

.publicacao-recente-bg {
  background: var(--cor-b0);
  padding: 10px;
  border-radius: 15px;
  margin: 16px;
  box-shadow: var(--sobra-1);
  transition: all 300ms ease-in;
}

.publicacao-recente-bg:hover {
  box-shadow: none;
}

.publicacao-recente-bg-interna {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  background: var(--cor-w);
  border-radius: 10px;
  transition: all 300ms ease-in;
  cursor: pointer;
  align-items: center;
}

.publicacao-recente-bg-interna:hover {
  background: var(--cor-b1);
}

.publicacao-recente-perfil img {
  width: 34px;
}

.publicacao-recente-texto {
  padding-left: 8px;
}

.publicacao-recente-texto span {
  font-size: 0.85rem;
}

.publicacao-recente-previo img {
  border-radius: 5px;
}

/* Mensagem */
.titulo-mensagem {
  text-transform: uppercase;
  margin-left: 26px;
}
.mensagem {
  background: var(--cor-b0);
  margin: 16px;
  border-radius: 15px;
  box-shadow: var(--sobra-1);
  transition: all 300ms ease-in;
  height: 300px;
  overflow-y: auto;
}

.mensagem:hover {
  box-shadow: none;
}

.mensagem ul {
  padding: 16px 8px;
}
.mensagem ul li a {
  padding: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  transition: all 300ms ease-in;
  border-radius: 15px;
}

.mensagem ul li a:hover {
  background: var(--cor-b1);
  border-radius: 15px;
}

.mensagem ul li a img {
  width: 40px;
}

.info-mensagem-barra {
  break-inside: avoid-column;
}

.top-mensagem-barra {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-mensagem-barra p {
  color: var(--cor-b4);
  font-weight: 500;
}

.mensagem-visto-barra {
  display: flex;
  max-width: 200px;
  gap: 8px;
}

.mensagem-visto-barra span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.visto-mensagem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.visto-mensagem i {
  font-size: 14px;
  width: 14px;
  height: 14px;
}

.visto-mensagem i:last-child {
  color: var(--cor-c6);
}

.online {
  position: relative;
}

.online::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: var(--cor-c6);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 5px;
}
.offline {
  position: relative;
}

.offline::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: var(--cor-b2);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 5px;
}

/* Short */
.shorts {
  padding: 0px 20px 20px;
}
.shorts > h2 {
  text-transform: uppercase;
  margin-left: 6px;
  margin-bottom: 16px;
}
.shorts-bg {
  padding: 16px;
  background: var(--cor-b0);
  border-radius: 15px;
  box-shadow: var(--sobra-1);
  transition: all 300ms ease-in;
}

.shorts-bg:hover {
  box-shadow: none;
}

.shorts-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.texto-short {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.texto-short > h2 {
  text-transform: uppercase;
}

.texto-short > a {
  transition: all 300ms ease-in;
}

.texto-short > a:after {
  content: "";
  display: block;
  background: transparent;
  width: 52px;
  height: 1px;
  transition: all 200ms ease-in;
}

.texto-short > a:hover::after {
  background: var(--cor-b5);
}

.short-previu {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 16px;
  padding-top: 8px;
}
.short-previu li a {
  border: 2px solid transparent;
  background: transparent;
  border-radius: 10px;
  transition: all 300ms ease-in;
}
.short-previu li a:hover {
  border: 2px solid var(--cor-b2);
  background: var(--cor-b2);
  border-radius: 10px;
}
.short-previu li a img {
  width: 77px;
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .storys-lista {
    gap: 8px;
  }
  .storys-lista li a {
    width: 40px;
  }
  .storys-lista li a img {
    padding: 2px;
  }
  .publicacao-recente-previo img {
    display: none;
  }
  .mensagem ul li a img {
    max-width: 30px;
  }
  .mensagem ul li a h2 {
    font-size: 0.875rem;
  }
  .mensagem-visto-barra {
    max-width: 140px;
  }
}

@media (max-width: 980px) {
  .short-previu li a img {
    width: 60px;
  }
}

@media (max-width: 800px) {
  .barra-lateral {
    display: none;
  }
}
