.f-18 {
  font-size: 1.125rem;
  letter-spacing: 0.08rem;
  font-weight: 700;
}

.f-16 {
  font-size: 1rem;
  letter-spacing: 0.08rem;
  font-weight: 700;
}

.f-14 {
  font-size: 0.875rem;
  letter-spacing: 0.08rem;
  font-weight: 700;
}

.f-12 {
  font-size: 0.75rem;
  letter-spacing: 0.08rem;
  font-weight: 700;
}

.f-12-n {
  font-size: 0.75rem;
}

.f-10 {
  font-size: 0.625rem;
  letter-spacing: 0.08rem;
  font-weight: 700;
}

.f-10-s {
  font-size: 0.625rem;
  letter-spacing: 0.08rem;
  font-weight: 600;
}

.r-16 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
