#explorar .content {
  padding-left: 60px;
  padding-right: 60px;
}

#explorar .publicacao-bg {
  margin: 26px auto;
  max-width: 1000px;
}

.explorar-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(75px, 1fr));
  gap: 8px;
}

.explorar-container a img {
  border-radius: 10px;
}

.video-explorar {
  grid-row: span 2;
}

@media (max-width: 800px) {
  #explorar .content {
    padding-left: 10px;
    padding-right: 10px;
  }
  #explorar .publicacao-bg {
    max-width: 100%;
    margin: 16px 10px;
  }
}

@media (max-width: 480px) {
  #explorar .publicacao-bg {
    padding: 8px;
  }
}
