#configuracao .content {
  padding-left: 60px;
  padding-right: 60px;
}

#configuracao .publicacao-bg {
  margin: 26px auto;
  max-width: 1000px;
  padding: 30px;
}

#configuracao .publicacao-bg h2 {
  text-transform: uppercase;
}

#configuracao .conta-bg {
  margin-top: 16px;
  margin-bottom: 26px;
  padding: 20px 16px;
  border-radius: 15px;
  background: var(--cor-b0);
  box-shadow: var(--sobra-1);
  transition: all 300ms ease-in-out;
}

#configuracao .conta-bg:hover {
  box-shadow: initial;
}

#configuracao .conta a {
  display: flex;
  padding: 14px;
  gap: 8px;
  border-radius: 15px;
  background: transparent;
  transition: all 300ms ease-in-out;
}

#configuracao .conta a:hover {
  background: var(--cor-w);
  box-shadow: var(--sobra-1);
}

#configuracao .conta a i {
  color: var(--cor-b8);
  font-size: 20px;
  line-height: 20px;
  width: 20px;
  height: 20px;
}

@media (max-width: 980px) {
  #configuracao .pesquisa-cotainer {
    max-width: 100%;
  }
  #configuracao .publicacao-bg {
    padding: 16px;
  }
}

@media (max-width: 800px) {
  #configuracao .content {
    padding-left: 10px;
    padding-right: 10px;
  }
  #configuracao .publicacao-bg {
    max-width: 100%;
    margin: 16px 0px;
    padding-bottom: 40px;
  }
  #configuracao .story-mobile {
    max-width: 100%;
    margin: 0 auto;
  }
}
