#mensagem.container {
  grid-template-columns: 17.25rem auto;
  grid-template-areas:
    "sidenav content "
    "sidenav content "
    "sidenav content "
    "sidenav content ";
}

#mensagem .barra-lateral {
  display: none;
}

#mensagem .content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: initial;
}

#mensagem .publicacao-bg {
  margin: 0 auto;
  max-width: 1000px;
}

#mensagem .pesquisa-bg {
  display: none;
}

#mensagem .mensagem {
  height: 79vh;
}

.container-mensagem {
  height: 92vh;
}

.mensagem-pagina {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 92vh;
}

.mensagem-pagina a {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.pesquisa-menu-e-ps {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.pesquisa-conversas {
  position: relative;
  margin-right: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: -3px;
  background: var(--cor-w);
  padding-bottom: 8px;
  padding-top: 8px;
}

.lista-conversa-home {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 16px;
}

.pesquisa-conversas input#item-check {
  position: absolute;
  top: 17px;
  left: -20px;
  display: none;
}

.search-conversa {
  display: flex;
  background: var(--cor-b0);
  border-radius: 25px;
  border: 2px solid var(--cor-b2);
  max-width: 30%;
  transition: all 300ms ease-in-out;
}

.search-conversa input#search {
  transition: all 300ms ease-in;
  transform: translate(-100%);
  padding-left: 0px;
  opacity: 0;
  max-width: 0%;
  border: none;
  outline: none;
  background: var(--cor-b0);
}

.search-conversa label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  min-width: 48px;
  min-height: 48px;
  padding: 8px;
  background: var(--cor-b1);
  transition: all 250ms ease-in;
  z-index: 1;
  cursor: pointer;
}

.search-conversa label i {
  color: var(--cor-b4);
  font-size: 16px;
  width: 16px;
  height: 16px;
}

input#item-check:checked + .search-conversa input#search {
  border-radius: 50px;
  transform: translate(0%);
  background: var(--cor-b0);
  padding-left: 8px;
  opacity: 1;
  max-width: 100%;
}

input#item-check:checked + .search-conversa {
  max-width: 100%;
  /* border-radius: 15px; */
}

/* input#item-check:checked + .search-conversa label {
  border-radius: 15px;
  background: var(--cor-b0);
} */

.mensagem-bloco {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  gap: 0px 8px;
}

.mensagem-bloco img {
  grid-row: 1/-3;
}

.mensagem-bloco h2 {
  grid-column: 2/-1;
}

.mensagem-bloco span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mensagem-pagina.ativo {
  display: none;
}

.mensagem-pagina img {
  max-width: 40px;
}

.pagina-inicial-mensagem {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pagina-inicial-mensagem.ativo {
  grid-template-columns: 1fr;
}

.informacao-masagem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mensagem-visto p {
  color: var(--cor-b4);
  font-weight: 500;
}
/* Mensagem aberta */
.mensagem-aberta-bg {
  background: var(--cor-b1);
  border-radius: 15px;
  padding: 8px;
  height: 92vh;
}

.mesagem-aberta {
  background: var(--cor-b0);
  border-radius: 10px;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  position: relative;
}

.modo-noturno.interna-modo-n {
  display: none;
}

.menu-mensagem {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  gap: 6px;
  position: sticky;
  top: 0;
  background: var(--cor-b0);
}

.menu-interna-mensagem {
  display: flex;
  gap: 8px;
}

.volta-mensagem-container {
  display: flex;
}

.menu-mensagem a {
  display: flex;
  align-items: center;
  color: var(--cor-b8);
  padding: 8px;
  height: 34px;
  border-radius: 50%;
  transition: all 300ms ease-in;
}

.pagina-inicial-mensagem.ativo
  .volta-mensagem-container
  a.volta-mensagem-desktop
  i {
  transform: rotate(180deg);
  transition: all 300ms ease;
}

.pagina-inicial-mensagem .volta-mensagem-container a.volta-mensagem-desktop i {
  transform: rotate(0deg);
  transition: all 300ms ease;
}

.menu-mensagem a:hover {
  background: var(--cor-b1);
  transform: scale(1.1);
  border-radius: 10px;
}

.menu-mensagem a i {
  font-size: 18px;
  max-width: 18px;
  max-height: 18px;
}

.mensagem-enviada {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 8px;
  gap: 16px;
}

.resposta,
.resposta-recebida {
  padding: 8px;
  border-radius: 15px;
  max-width: 350px;
}

.resposta {
  background: var(--cor-b1);
}

.resposta-recebida {
  background: var(--cor-c2);
}

.responder {
  padding: 8px;
  background: var(--cor-b0);
  border-radius: 10px;
  border-left: 2px solid var(--cor-b4);
  margin-bottom: 6px;
}

.info-mensagem-aberta {
  margin-top: 4px;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.visto-mensagem-aberta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visto-mensagem-aberta i {
  font-size: 0.75rem;
  color: var(--cor-c5);
  width: 0.75rem;
  height: 0.75rem;
}

.visto-mensagem-aberta i:last-child {
  color: var(--cor-c6);
}

.mensagem-recebida {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 8px;
}

.campo-texto {
  min-width: 100%;
  position: sticky;
  bottom: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cor-w);
  border-radius: 15px;
  max-height: 45px;
  margin: 0 auto;
  padding: 13px;
  border: 2px solid var(--cor-b4);
  justify-content: space-between;
  margin-left: 8px;
  margin-right: 8px;
}

.input-container i {
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: var(--cor-b8);
  cursor: pointer;
}

.input-mensagem-emoji {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.enviar-anexo {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.input-container input#text {
  display: flex;
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 8px;
  background: var(--cor-w);
  color: var(--b8);
  max-width: 100px;
}

.input-container input#file {
  display: none;
}

.input-container label#file {
  padding: 6px;
  display: flex;
  border: none;
  background: transparent;
  border-radius: 50%;
  transition: all 300ms ease-in;
  cursor: pointer;
}

.input-container label#file:hover {
  background: var(--cor-b1);
  border-radius: 8px;
  transform: scale(1.1);
}

.input-container button {
  cursor: pointer;
  padding: 6px;
  display: flex;
  border: none;
  background: transparent;
  border-radius: 50%;
  transition: all 300ms ease-in;
}

.input-container button:hover {
  background: var(--cor-b1);
  border-radius: 8px;
  transform: scale(1.1);
}

.input-container button i {
  width: 20px;
  height: 20px;
}

@media (max-width: 1200px) {
  #mensagem.container {
    grid-template-columns: 7.25rem auto;
  }
  #mensagem #close-btn.close {
    display: none;
  }
  #mensagem .menu {
    display: none;
  }
}

@media (max-width: 980px) {
  #mensagem .pesquisa-cotainer {
    max-width: 100%;
  }
  #mensagem.container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "content"
      "content"
      "content"
      "content";
  }
  #mensagem .sidenav {
    display: none;
  }
  #mensagem #close-btn.close {
    display: flex;
  }
  #mensagem .menu {
    display: flex;
  }
  .resposta,
  .resposta-recebida {
    padding: 8px;
    border-radius: 15px;
    max-width: 200px;
  }
}

@media (max-width: 800px) {
  #mensagem .content {
    padding-left: 0px;
    padding-right: 0px;
  }
  #mensagem .publicacao-bg {
    max-width: 100%;
    margin: 0px 8px;
  }
  #mensagem .modo-noturno a:nth-child(3) {
    display: none;
  }
  .pagina-inicial-mensagem {
    grid-template-columns: 1fr;
  }
  .mensagem-aberta-bg {
    display: none;
  }
  .mensagem-pagina.ativo {
    display: flex;
  }
  .pagina-inicial-mensagem.ativo .mensagem-aberta-bg {
    display: flex;
  }
  .pagina-inicial-mensagem.ativo .mensagem-pagina {
    display: none;
  }
  .modo-noturno.interna-modo-n {
    display: flex;
  }
  .pagina-inicial-mensagem.ativo
    .volta-mensagem-container
    a.volta-mensagem-desktop {
    transform: rotate(180deg);
  }
}

@media (max-width: 480px) {
  .pesquisa-conversas {
    top: -17px;
  }
  .container-mensagem {
    height: 100vh;
  }
  #mensagem .content {
    padding: 0px;
    margin: 0px;
  }
  .search-conversa label {
    min-width: 36px;
    min-height: 36px;
  }

  #mensagem .publicacao-bg {
    padding: 0px;
    margin: 0;
    border-radius: 0;
  }
  input#item-check:checked + .search-conversa input#search {
    max-width: 30vw;
  }
  .search-conversa {
    max-width: 13vw;
    position: absolute;
    left: 50px;
  }
  input#item-check:checked + .search-conversa {
    max-width: 46vw;
  }
  .mensagem-pagina {
    height: 100vh;
    padding-bottom: 60px;
    padding: 16px;
  }
  .mensagem-aberta-bg {
    padding: 0;
    border-radius: 0;
  }
  .mesagem-aberta {
    border-radius: 0;
    height: 100vh;
  }
}

@media (max-width: 360px) {
  input#item-check:checked + .search-conversa input#search {
    max-width: 30vw;
  }
  .search-conversa {
    max-width: 13vw;
  }
  input#item-check:checked + .search-conversa {
    max-width: 46vw;
  }
}
